body {
    
}

.titulo-centralizado {
    margin-right: 20px;
}

#banner {
    width: 100%;
}

.paragrafos {
    background: #CCCCCC;
    text-align: center;
}

.p2 {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.beneficios {
    background: #FFFFFF;
    padding: 30px;
}

.titulo-centralizado {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
}

.imgbeneficios {
    width: 50%;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
}